<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>jersy</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
